table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: black;
    margin-top: 2%;
  }
  
  td, th {
    border: 1px solid #f3f3f3;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f3f3f3;
  }

  /* customtable.css */
.input-no-border {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 100%;
    /* max-width: min-content; */
    box-sizing: border-box;
    padding: 4px 0;
  }
  
  .input-no-border:focus {
    border-bottom-color: #007bff; /* Change the color to whatever you prefer */
  }